*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
body{
	width: 100%;
	height: 100%;
}
h1{
	text-align: center;
	margin-top: 5px;
	font-family: sans-serif;
	color: green;
}
h1:hover{
	color: brown;
	cursor: pointer;
}
nav{
	align-items: center;
	justify-content: space-around;
	display: flex;
	margin-top: 30px;
	width: 100%;
}
nav a{
	text-decoration: none;
	font-family: sans-serif;
	color: black;
}
nav a:hover{
	color: white;
	text-shadow: 0 0 10px black;
}
button a:hover{
	color: white;
	text-shadow: none;
}
button{
	padding: 7px;
	border: none;
	border-radius: 5px;
	background-color: blue;
}
button:hover{
	background-color: green;
	box-shadow: 0 0 10px blue;
}
button a{
    color: white;
}
button a:hover{
	color: white;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}
form button i: hover{
	box-shadow: none;
}